*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}
body{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgb(0,0,0,0.5)), url("./Maldieves.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.title {
    text-align: center;
    padding: 10px 30px;
}
.title h1{
    font-family: cursive;
    color:white;
    font-size: 70px;
}
p{
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Times New Roman';
    color: white;

}
ul{
    margin-left: 30px;
    margin-top: 70px;
    color: white;
    font-family: 'Times New Roman';
    font-size: 20px;
}